/*Connecting fonts*/
@font-face {
	font-family: 'Belinda';
	src: url('../fonts/Belinda-Font/belinda.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('../fonts/Cabin/Cabin-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'PT_SansRegular';
	src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'PT_SansBold';
	src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'nexa';
	src: url('../fonts/nexa/Nexa-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'nexa_light';
	src: url('../fonts/nexa/Nexa-Light.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'nexa_heavy';
	src: url('../fonts/nexa/Nexa-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/Open_Sans/OpenSans_Semibold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntu.ttf');
	font-weight: bold;
}
/* end Connecting fonts*/
/*main styles*/
html, body {
    width: 100%;
}

html, body, h1, h2, ul, li, p, .wrap, .main_content, .advantages {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}

#logo, .wrap_header, header, .btn {
    text-align: center;
}

.wrap, .wrap_header, ul, header, .btn, nav {
    margin: 0 auto;
}

#logo {
    font-size:  52px;
    font-family: Belinda;
    color: #ffffff;
    font-weight: 200;
    padding: 40px 0 0 0;
}

.blue {
    background-color: #50c3af;
}

.gray {
    background-color: #d2d5da;
}

.btn {
    height: 50px;
    width: 235px;
    border-radius: 50px; 
    line-height: 50px;
    margin-top: 80px;
    vertical-align: middle;
}

nav {
    padding: 30px 0 75px 0;
    font-family: 'OpenSansSemibold';
}

/*end main styles*/
/*Header*/
.wrap_header{
    width: 800px;
}

.main_content {
    background-color: #ffffff;
    width: 100%;
}

.bg_lightgray {
    background-color: #eeeeef;

}

.wrap  {
    width: 800px;
    height: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 52%;
}

ul li {
    float: left;
    list-style: none;
    color: #ffffff; 
}

.clear {
    clear: both;
}

header h2 {
    font-size: 53px;
    font-weight: 600;
    font-family: 'ubuntu';
}

header {
    background: url(../images/banner.png) 100% 100% no-repeat;
    background-size: cover;
    background-position: top center;
    height: 590px;
    width: 100%;
    color:  #ffffff;
}
header p:before, header p:after  {
    content: '';
    display: inline-block;
    height: 2px;
    width: 103px;
    background: #ffffff;
    opacity: 0.3;
    vertical-align: middle;
    box-sizing: border-box; 
}
header p:before {
    margin-right: 35px;
}
header p:after {
    margin-left: 35px;
}
header p {
    text-transform: uppercase;
    font-family: 'PT_SansBold';
    font-size: 15px;
    font-weight: 100;
    margin-top: 40px;
}

.block1 {
    height: 290px;
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.block2 {
    height: 330px; 
}

.block3 {
    height: 530px; 
}
.block4 {
    height: 430px; 
}

/*end Header*/
/*First section of main content*/
.advantages {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.advantages_col {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 190px;
    color: #8b8d91;
    align-self: center;
    justify-content: space-between;
    text-align: center;
}

.advantages_col img {
    align-self: auto;
}
.advantages_col:first-child img {

}
.line_under {
    font-family: 'PT_SansBold';
    font-size: 18px;
}

.line_under:after {
    content: "";
    display: inline-block;
    width: 135px;
    height: 2px;
    background-color: #8b8d91;
    opacity: 0.1;
    width: 100%;
}

.advantages_col img:first-child {
    width: 43px;
    align-self: center;
}

.advantages_col p:first-of-type, .article_preview_4 p:first-of-type {
    font-family: 'PT_SansBold';
    font-size: 16px;
    font-weight: bold; 
    color: #40474e;
}

.advantages_col p:last-child {
    font-family: 'PT_SansRegular';
    font-size: 15px;
    line-height: 24px;
}
/*Second section of main content*/
.article_cover {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 100px;
}

.article_preview_1, .article_preview_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      flex-wrap: wrap;
}

.article_preview_1 {
    padding: 65px 25px 75px 0;    
}

.article_preview_2 {
    padding: 65px 0 75px 25px;    
}

.article_img {
   align-self: flex-start; 
    width: 100%;
}

.reader {
    font-family: 'PT_SansRegular';
    font-size: 14px;
    color: #8b8d91;
    line-height: 25px;
    width: 90%;
}
.read_more {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: 0;
    color: #ffffff; 
}
.read_more:hover {
    animation-name: btn_hover;
    animation-duration: 0.5s;
    animation-direction: reverse;
    color: cadetblue;
  
}

@keyframes  btn_hover {
  
    0% {
        background: repeating-linear-gradient(-45deg, rgb(80,195,175), rgba(255,255,255,1) , rgb(80,195,175) );
        background-size: 200%;
        background-position: left;
    }
    50% {
        background: repeating-linear-gradient(-45deg, rgb(80,195,175), rgba(255,255,255,1) , rgb(80,195,175) );
        background-size: 200%;
        background-position: center;
    }
    100% {
        background: repeating-linear-gradient(-45deg, rgb(80,195,175), rgba(255,255,255,1) , rgb(80,195,175) );
         background-size: 200%;
        background-position: right;
        
    }
}
/*Third section of main content*/
.sign_img {
    width: 25px;
}

.article_preview_3 {
    padding: 65px 0 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article_preview_3 div * {
    float: left;
}

.article_preview_3 div p {
    padding-left: 15px;
    font-family: 'PT_SansBold';
    font-size: 18px;
    font-weight: bold; 
    color: #40474e;
}
/*Fourth section of main content*/
.check_this {
    color: #50c3af;
    font-family: 'PT_SansRegular';
    font-size: 14px;
    font-weight: 400;
}
.article_preview_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 3% 70px 0;   
}
.article_preview_4:last-child {
    padding-right: 0;
}
/*Fifth section of main comtent*/
.article_preview_5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0;
    width: 45%;
}

.article_preview_5 .line_under *  {
    float: left;
}

.article_preview_5 .line_under *  {
    padding-left: 15px;
}

.two_col {
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    justify-content: space-between;
}
/* Footer*/
footer {
    height: 100%;
}

.blue_foot {
    height: 80%;
    text-align: center;
    padding-top: 60px;
}

.blue_foot * {
    display: inline-block;
    color: #ffffff;
    font-family: 'PT_SansRegular';
    font-size: 15px;
    font-weight: 600;
}

.partners {
    width: 100%;
    line-height: 130px;
}

.line_under_foot:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.1;
}

.partners p:first-child {
    font-family: 'Belinda';
    font-size: 26px;
    font-weight: lighter;
    opacity: 0.9;
    width: 20%;
}

.partners p:nth-child(2) {
    font-family: 'nexa_light';
    font-size: 26px;
    opacity: 0.9;
    width: 20%;
}

.partners p:nth-child(3) {
    font-family: 'Cabin';
    font-size: 26px;
    font-weight: lighter;
    opacity: 0.9;
    width: 20%;
}

.partners p:last-child {
    font-family: 'nexa_heavy';
    font-size: 26px;
    font-weight: bolder;
    opacity: 0.9;
    width: 20%;
}

.bottom {
    background-color: #ffffff;
    width: 100%;
    display: block;
    height: 60px;
    font-family: '';
    font-size: 13px;
    color: #aaacaf;
    line-height: 60px;
}
.footer_cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

/*Left bottom part of footer*/
#copywright_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 20px 0;
    width: 50%;    
}

.copywright_footer p {
    color: lightgray;
    font-family: 'PT_SansRegular';
    font-size: 13px;
    font-weight: 600;
}

#copy_sign {
    color: darkgray;
}

/*Right bottom part of footer*/
.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0;
    width: 50%;
}

.social img {
    height: 18px;
    padding-left: 20px;
    align-self: center;
}

.social_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*For device width less than 800px (mobile)*/

@media screen and (min-width: 320px) and (max-width: 800px) {
    html, body, .wrap, .article_cover, .block1, .block2, .block3, .block4, .advantages_col, .two_col {
        width: 100%;
        height: 100%;
    }
    .wrap_header, .main_content {
        width: 100%;
    }
    header h2 + p:after {
        display: none;  
    }
    header h2 + p:before{
        display: none;  
    } 
    .advantages {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .block1, .article_cover {
        padding: 30px 0;
    }
    .article_preview_1, .article_preview_2, .article_preview_3, .article_preview_4 , article_preview_5{
        padding: 25px 20px;  
        flex-direction: column;
    }
    .article_cover {
        flex-direction: column;
        align-content: center;
    }   
    .article_img, .line_under, .reader, article_preview_5 {
        align-self: center; 
        padding: 20px 0;
        text-align: center;
        width: 80%;
    }
    .read_more {
        width: 50%; 
        height: 50px;
        align-self: center; 
    }
    .btn {
        height: 50px;
        width: 250px;
        border-radius: 30px; 
        line-height: 50px;
        margin-top: 80px;
    }
    .check_this {
        font-size: 14px;
        font-weight: 400;
        align-self: center;
        text-align: center;
        border: 2px solid #50c3af;
        height: 50px;
        width: 50%;
        border-radius: 30px; 
        line-height: 50px;
    }
    .two_col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .article_preview_5 {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 20px 0;  
    }
    footer {
        height: 60%;
}
    .blue_foot {
        height: 50%;
    }
    .partners {
        display: flex;
        flex-direction:row;
        width: 100%;
        flex-wrap: wrap;
    }
    .partners p:nth-child(n + 1) {
        font-size: 1.5rem;
        padding: 0;
        width: 50%;
        line-height: normal;
        align-self: center;   
    }
    .unsub {
        display: none;
    }
    
}

















