/*Connecting fonts*/
@font-face {
	font-family: 'Belinda';
	src: url('../fonts/Belinda-Font/belinda.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('../fonts/Cabin/Cabin-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'PT_SansRegular';
	src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'PT_SansBold';
	src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'naxa';
	src: url('../fonts/nexa/Nexa-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'nexa';
	src: url('../fonts/nexa/Nexa-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/Open_Sans/OpenSans_Semibold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntu.ttf');
	font-weight: bold;
}
html, body, h1, h2, ul, li, p, .wrap, .main_content {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}

#logo, .wrap_header, header, .btn {
    text-align: center;
}

.wrap, .wrap_header, ul, header, .btn, .main_content {
    margin: 0 auto;
}
#logo {
    font-size:  52px;
    font-family: Belinda;
    color: #ffffff;
    font-weight: 200;
    padding-top: 40px;
}

.wrap, .wrap_header {
    width: 80%;
    height: 100%;
    padding: 0 5px;
}

ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 52%;
}

ul li {
    float: left;
    list-style: none;
    color: #ffffff; 
}

.clear {
    clear: both;
}

header h2 {
    font-size: 53px;
    font-weight: 600;
    font-family: 'ubuntu';
}

header, .main_content {
    width: 800px;
}

header {
    background: url(../images/banner.png) 100% 100% no-repeat;
    background-size: cover;
    background-position: top center;
    height: 590px;
    color:  #ffffff;
}
header p:before, header p:after  {
    content: '';
    display: inline-block;
    height: 2px;
    width: 103px;
    background: #ffffff;
    opacity: 0.3;
    vertical-align: middle;
    box-sizing: border-box; 
}
header p:before {
    margin-right: 35px;
}
header p:after {
    margin-left: 35px;
}
header p {
    text-transform: uppercase;
    font-family: 'PT_SansBold';
    font-size: 15px;
    font-weight: 100;
    margin-top: 40px;
}

.blue {
    background-color: #50c3af;
}

.gray {
    background-color: #d2d5da;
}

.bg_lightgray {
    background-color: #eeeeef;
}

.btn {
    height: 50px;
    width: 235px;
    border-radius: 50px; 
    line-height: 50px;
    margin-top: 80px;
}

nav {
    padding: 30px 0 75px 0;
    font-family: 'OpenSansSemibold';
}

.block1 {
    height: 290px;
    display: flex;
    justify-content: center;
}

.block2 {
    height: 330px; 
}

.block3 {
    height: 530px; 
}
.block4 {
    height: 430px; 
}

footer {
    height: 280px;
}

.blue_foot {
    height: 230px;
}
/*First section of main content*/
.advantages {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.advantages_col {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 190px;
    color: #8b8d91;
    align-self: center;
    justify-content: space-between;
    text-align: center;
}

.advantages_col img {
    width: 40px;
    align-self: center;
}

.line_under {
    font-family: 'PT_SansBold';
    font-size: 18px;
    color: #8b8d91;
}

.line_under:after {
    content: "";
    display: inline-block;
    width: 135px;
    height: 2px;
    background-color: #8b8d91;
    opacity: 0.1;
    width: 100%;
}

.advantages_col img:first-child {
    width: 43px;
    align-self: center;
}

.advantages_col p:first-of-type {
    font-family: 'PT_SansBold';
    font-size: 16px;
    font-weight: bold; 
    color: #40474e;
}

.advantages_col p:last-child {
    font-family: 'PT_SansRegular';
    font-size: 15px;
    line-height: 24px;
}
/*Second section of main content*/
.article_cover {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.article_preview_1, .article_preview_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.article_preview_1 {
    padding: 65px 25px 75px 0;    
}

.article_preview_2 {
    padding: 65px 0 75px 25px;    
}

.reader {
    font-family: 'PT_SansRegular';
    font-size: 14px;
    color: #8b8d91;
    line-height: 25px;
}
.read_more {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    color: #ffffff;
   
}
























